<title>Getting Started</title>
<link rel="stylesheet" type="text/css" href="/bootstrap-3.3.6/bootstrap.min.css" />
<script src="/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/bootstrap-3.3.6/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/main.css" />
