.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
.info {
  margin: 0 auto 30px auto;
  padding: 15px;
  max-width: 80%;
  background-color: #EEF320;
  border-color: #EEF320;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #C71263;
  font-size: 18px;
}
